/* CSS Document


light red						#ff807a
red								#ed4949
brown 			Wood:#7d3d1c
lightbrown 	Iron:#c59673
lightblue 		Steel/Silver:#c6e4ff
blue 			Mithril:#70b9ed
green			Adamantium:#87d63f
dark green						#4F6C42 - crafting button
gold			Unobtanium:#ffd016
yellow							#fff000
dark red		DragonBone:#bb0000
black			Graynium:#000000
purple							#6d3eb8
pink			enchanted:#ff9eff
*/




/* ---------------------------------------------------------------------------------------------------- COLORS */

/* ---------------------------- RED */
$red:#db6c64;
//$redOG:#FF807B;
$lightred:#FF807B;
//$redBRIGHT:#fc4b4b;
$redbrown:#996162;

$dred:#ed4949;
$darkred:#bb0000;
$dead:#ed4949;


/* ---------------------------- BLUE */
//$blueOG:#70b9ed;
//$blueBRIGHT:#46abf3;
$blue:#689cc1;

$lightblue:#c6e4ff;
$darkblue:#518fbc;
$ocean:#1eb5f1;
 
/* ---------------------------- GREEN */
//$greenOG:#87d63f;
//$greenBRIGHT:#48c312;
$green:#7ebe63;


/* ---------------------------- GOLD/YELLOW */
//$goldOG:#ffd016;
//$goldBRIGHT:#ffba00;
$gold:#f1b238;

$yellow:#ffff00;

/* ---------------------------- PURPLE */
//$purpleOG:#6d3eb8;
//$purpleBRIGHT:#9b6fe6;
$purple:#9f8ac2;



/* ---------------------------- BROWN */
//$brownOG:#c59673;
//$brownBRIGHT:#b47d54;
$brown:#9c7a60;

$dbrown:#674932;

$darkbrown:#7d3d1c;

$lightbrown:#FFD38B;
$lightbrown:#c59673;


/* ---------------------------- MISC */



/* ---------- GRAY */
$white:#FFF;
$lightestgray:#f7f7f7;
$lightgray:#eee;
$lgray:#ccc;
$gray:#A4A4A5;$gray:#999;
$dgray:#77777A;$dgray:#777;
$darkgray:#646569;$darkgray:#666;
$darkergray:#55565A;$darkergray:#555;
$darkestgray:#474747;
$ddgray:#333;
$dddgray:#222;
$ddddgray:#111;
$black:#000;



/* ---------- COOL GRAY OVERRIDE */

/* ---------------------------- RED */
$red:#D66976;
$lightred:#FF7D8E;
$redbrown:#8C5E74;
$dred:#EA4659;
$darkred:#B20000;
$dead:#EA4659;
/* ---------------------------- BLUE */
$blue:#569ACF;
$lightblue:#BEE3FF;
$darkblue:#3E8DCB;
$ocean:#0EB3F5;
/* ---------------------------- GREEN */
$green:#6EBC75;

/* ---------------------------- GOLD/YELLOW */
$gold:#EFB045;

$yellow:#FFFF00;

/* ---------------------------- PURPLE */
$purple:#9287D0;

/* ---------------------------- BROWN */
$brown:#8F7772;

$dbrown:#55463E;
$darkbrown:#6D3A24;
$lightbrown:#BD9486;

/* ---------- Cool grays*/
$white:#FFF;
$lightestgray:#F6F7F9;
$lightgray:#EBEEF3;
$lgray:#C5CBD8;
$gray:#8C97AB;
$dgray:#66748A;
$darkgray:#546378;
$darkergray:#425266;
$darkestgray:#344456;
$ddgray:#20303F;
$dddgray:#111F2B;
$ddddgray:#07141d;
$black:#000;


